.menu {
    padding: 0;
    margin: 0;
}

.menu li {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
}

.menu li a {
    font-size: 1.6rem;
    color: #000;   
}

a {
    cursor: pointer;
}